* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white; /*#f2f2f2*/
    color: black;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    height: auto;
}
/*HEADER*/

header {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.0625);
    box-sizing: border-box;
}

#logo {
    display: block;
    text-decoration: none;
    margin-left: 5%;
    width: 15%;
    height: 70px;
    color: black;
    padding: 13px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
}

#logo span {
    font-size: 35px;
    color: #00ccff;
    text-align: center;
}

.search-box {
    display: block;
    float: left;
    height: 100%;
    width: 20%;
    padding: 17px;
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
}

.search-box input[name=search-bar] {
    width: 90%;
    padding: 10px 35px 10px 20px;
    outline: none;
    color: #444444;
    border-radius: 2px;
    border: 1px solid #dddddd;
    position: absolute;
    box-sizing: border-box;
}
/* 
.search-box input::placeholder {
    font-weight: bold;
} */

.search-data {
    position: absolute;
    z-index: 100;
    top: 8%;
    left: 21%;
    width: 18.2%;
    height: 250px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.0625);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.125);
    overflow: auto;
    display: none;
}

.search-data-item {
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 10px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.search-item-img {
    width: 30%;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
}

.search-item-img img {
    width: 100%;
    height: auto;
}

.search-item-info {
    width: 70%;
    display: inline-block;
}

.search-data-item:hover .search-item-info span{
    font-weight: 500;
}

.search-item-info span {
    display: block;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

.search-box button {
    position: absolute;
    top: 38%;
    right: 8%;
    border: none;
    background-color: transparent;
    color: #cccccc;
    outline: none;
    font-size: 18px;
}

.search-box button:hover {
    color: #00ccff;
    cursor: pointer;
}

.navigation {
    float: left;
    display: block;
    width: 40%;
    height: 100%;
    margin-left: 4%;
}

.second-navigation {
    display: none;
    float: left;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.tabs {
    float: left;
    display: block;
    width: 16%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #606060;
    padding: 15px 2px;
    text-decoration: none;
}

.tabs i {
    font-size: 22px;
}

.tabs .tab-name {
    margin-top: 6px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.tabs:hover {
    color: #00ccff;
    cursor: pointer;
}

.cart-btn {
    position: relative;
    display: inline-block;
    width: 9.5%;
    padding: 10px;
    margin-top: 14px;
    margin-left: 2%;
    border: 2px solid orange;
    color: orange;
    background: transparent;
    outline-color: gold;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.cart-btn span {
    text-transform: uppercase;
    margin-left: 8px;
    font-weight: 500;
}

.cart-btn i {
    font-size: 18px;
}


/*CONTENT*/
#content {
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 10px auto;
}

.homebanner {
    display: block;
    float: left;
    width: 800px;
    height: 300px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
}

.each-slide span {
    width: 200px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    padding: 15px;
    left: 15px;
    font-size: 14px;
    color: #303030;
    border-radius: 4px;
    background-color: rgb(255, 255, 255, 0.3);
    user-select: none;
  }

.react-slideshow-container .default-nav {
    padding: 8px;
    border-radius: 4px!important;
    color: red!important;
    background-color: rgba(0,0,0,.0625)!important;
}

img {
    width: 100%;
    height: 100%;
}

.see-more {
    text-decoration: none;
    display: none;
}

.addressbanner {
    position: relative;
    display: block;
    float: right;
    margin-left: 10px;
    width: 390px;
    height: 300px;
    background-color: white;
    overflow: hidden;
}

.indicators {
    position: absolute!important;
    bottom: 10px;
    right: 20px;
}

.header-bar {
    width: 100%;
    height: 50px;
    background-color: white;
    line-height: 50px;
    margin-top: 10px;
    box-sizing: border-box;
}

.header-bar .header-bar-title {
    text-transform: uppercase;
    padding-left: 2px;
    font-weight: bold;
}

.header-bar .header-bar-more {
    display: block;
    float: right;
    margin-right: 20px;
    color: #3366FF;
    text-decoration: none;
}

.header-bar a:hover {
    text-decoration: underline;
}

.header-bar-total {
    font-weight: bold;
}

.highlight-product-frame {
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
}

.highlight-products {
    display: block;
    float: left;
    width: 20%;
    height: 360px;
    border: 1px solid rgba(0,0,0,.0625);
    margin: 0 0 -1px -1px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px 0;
}

.highlight-products:hover .product-name {
    color: #3366FF;
}

.highlight-products:hover .product-image {
    padding: 4px 18px 10px 18px;
    transition: ease-in-out 0.2s;
}

.highlight-products .product-image {
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 14px 18px 0 18px;
    box-sizing: border-box;
    transition: padding ease-in-out 0.2s;
}

.product-rate {
    padding: 0 15px 10px 15px;
    color: gold;
}

.product-rate .product-rate-point {
    color: #404040;
}

.product-rate .product-rate-evaluation {
    color: #dd0000;
    font-size: 13px;
}

.product-info .product-name {
    color: #363636;
    padding: 20px 15px 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-info .product-price {
    padding: 8px 15px 10px 15px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #dd0000;
}

.product-info-detail {
    margin: 5px 15px;
}

.product-info-detail p {
    color: #666666;
    font-weight: 200;
    font-size: 13px;
    margin-bottom: 4px;
}


/*FOOTER*/

.footer {
    display: flex;
    flex-basis: 0;
    width: 100%;
    height: auto;
    margin-top: 25px;
    background-color: white;
    justify-content: center;
    padding-top: 20px;
}

.support-footer {
    width: 25%;
    /* float: left;
    margin-left: 6.5%;
    margin-top: 2%;
    width: 25%;
    height: auto; */
}

.support-footer a {
    display: block;
    padding: 10px 10px 5px 10px;
    text-decoration: none;
    color: #3366FF;
}

.support-footer p {
    padding: 10px;
    text-transform: uppercase;
    color: #606060;
    font-weight: 500;
}

.support-footer a:hover {
    font-weight: bold;
}

.address-footer {
    margin-right: 10%;
    /* margin-top: 2%;
    float: left;
    margin-left: 5%;
    width: 25%;
    height: auto; */
}

#address-title {
    padding: 10px;
    display: block;
    font-weight: 500;
    color: #606060;
    text-transform: uppercase;
}

.address-footer p {
    padding: 10px 10px 0 10px;
    color: black;
    font-size: 14px;
}

.address-footer div span {
    margin-left: 15px;
    padding: 10px 10px 0 10px;
    color: #006600;
    font-size: 14px;
}

.contact-footer {
    /* margin-top: 2%;
    float: left;
    margin-left: 12%;
    width: 25%;
    height: auto; */
}

.contact-footer #contact-title {
    padding: 10px;
    display: block;
    font-weight: 500;
    color: #606060;
    text-transform: uppercase;
}

.contact-footer .contact-detail {
    padding: 10px 0 0 10px;
    color: #404040;
}

.contact-footer .contact-detail span {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 8px;
}

#f-zl {
    color: #0099FF;
    font-size: 20px;
}

#f-fb {
    color: #0066FF;
    font-size: 20px;
}

#f-sdt {
    color: black;
}

#f-email {
    color: black;
}

.contact-footer .contact-detail a {
    text-decoration: none;
    color: #00ccff;
}

.clear-fix {
    content: '';
    clear: both;
}

.footer-copyright {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f2f2f2;
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    color: #808080;
}

.footer-copyright a {
    text-decoration: none;
    font-weight: 500;
    color: #595959;
}

.cart-content {
    margin: 20px auto;
    width: 650px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.0625);
    box-shadow: 0 2px 4px rgba(0,0,0,0.0825);
    box-sizing: border-box;
}

.cart-error {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 70px 0;
    text-align: center;
}

.cart-error p {
    font-size: 24px;
    padding: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    text-align: center;
    color: #404040;
    font-weight: 200;
}

.cart-error span {
    display: inline-block;
    color:#006600;
    text-align: center;
    margin-bottom: 40px;
}

.cart-content h4 {
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: 400;
    color: #0099FF;
}

.cart-pr {
    display: flex;
}

.cart-img {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
    height: auto;
}

.cart-img img {
    width: 100%;
    height: auto;
}

.cart-name {
    width: 70%;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    font-weight: 600;
    word-break: break-word;
}

.cart-name p {
    color: #303030;
}

.cart-name span {
    padding-top: 10px;
    display: block;
    color: #dd0000;
}

.cart-remove {
    width: 40%;
    display: block;
    float: left;
    color: #303030;
    margin-top: 15px;
    padding: 10px 0;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 500;
}

.cart-quantily {
    width: 30%;
    display: flex;
    float: right;
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.cart-quantily div {
    user-select: none;
    padding: 5px 10px;
    display: inline-block;
    width: 25%;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.0625);
}

.plus, .minus {
    color: #00ccff;
}

.order-number {
    cursor: default;
    font-weight: 400;
    color: #404040;
    border-right: none!important;
    border-left: none!important;
}

.cart-remove:hover {
    color: #00ccff;
}

.notify-cart {
    position: absolute;
    top: -5px;
    left: -5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 90px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(240, 52, 52, 0.9);
}

.order-total {
    padding: 30px 0 10px 0;
    border-top: 1px solid rgba(0,0,0,.0625);
    margin: 20px 15px;
    font-weight: 400;
    color: #393939;
    box-sizing: border-box;
}

.order-total span {
    color: #dd0000;
    font-weight: 700;
    padding: 0 5px;
    box-sizing: border-box;
}

.loader-spinner {
    text-align: center;
    margin: 100px 0;
}

.page-not-found {
    height: 28.5vh;
    text-align: center;
}

.page-not-found h1 {
    color: #0099FF;
    font-size: 50px;
    margin-top: 15%;
}

.page-not-found p {
    margin-top: 20px;
    color: green;
    text-transform: uppercase;
    font-weight: 200;
}

/* @media only screen and (max-width: 1024px) {
    #content {
        width: 95%;
    }

    .cart-btn {
        width: 8%;
        border: none;
        padding: 0;
        outline: none;
        margin-top: 17px;
    }

    .cart-btn span {
        display: none;
    }

    .homebanner {
        width: 70%;
    }

    .addressbanner {
        width: 25%;
    }
} */
@media only screen and (max-width: 1200px) {
    #logo {
        margin-left: 1%;
    }

    #logo span {
        font-size: 30px;
    }

    .navigation {
        width: 52%;
    }

    .cart-btn {
        width: 6%;
        border: none;
        padding: 0;
        outline: none;
        margin-top: 27px;
        margin-left: 0;
    }
  
    .cart-btn span{
      display: none;
    }

    .homebanner {
        width: 60%;
        height: 260px;
    }

    .each-slide > div {
        height: 260px;
    }

    .addressbanner {
        width: 39%;
        height: 260px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .homebanner {
        width: 60%;
        height: 220px;
    }

    .each-slide > div {
        height: 220px;
    }

    .addressbanner {
        width: 39%;
        height: 220px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 896px) {
    #logo {
        width: 16%;
    }

    .navigation {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 840px) {

    .cart-btn {
        width: 8%;
        margin-left: 2%;
        margin-top: 17px;
    }

    .page-not-found h1 {
        margin-top: 40%;
    }

  .cart-quantily {
      width: 60%;
  }

  .notify-cart {
      top: -10px;
      right: -5px;
      left: unset;
      height: 15px;
      width: 15px;
      line-height: 15px;
      font-size: 10px;
  }

  .cart-content {
      width: 100%;
  }

  .cart-img {
      width: 45%;
  }

  .cart-name {
      width: 55%;
  }

  header {
      height: 50px;
  }

  #content {
      width: 100%;
  }

  .footer {
      width: 100%;
      overflow: hidden;
      flex-direction: column;
  }

  .address-footer {
      margin: 0;
  }

  .support-footer {
      width: 100%;
  }

  .support-footer a {
      display: inline-block;
  }

  .support-footer p {
    padding: 10px 10px 0 10px;
  }

  #address-title {
    padding: 15px 10px 0 10px;
  }

  .contact-footer #contact-title {
    padding: 10px 10px 0 10px;
  }

  .footer-copyright {
      margin-top: 20px;
  }

  .address-footer div span {
    display: block;
  }

  .navigation {display: none;}

  .second-navigation {
      display: block;
  }

  #logo {
      width: 35%;
      height: 50px;
      line-height: 50px;
      margin-left: 0;
      padding: 0 35px;
      font-size: 16px;
  }

  #logo span {
      font-size: 22px;
  }

  .search-box {
      width: 50%;
      padding: 8px 0;
  }

  .search-box input[name=search-bar] {
      padding: 8px 30px 8px 15px;
  }

  .search-box button {
      top: 36%;
      right: 15%;
      font-size: 14px;
  }

  .tabs {
      padding: 15px 0 0 0;
      width: 16.66%;
  }

  .tabs .tab-name {
      font-size: 9px;
  }

  .homebanner {
      width: 100%;
      height: 270px;
  }

  .each-slide > div {
      height: 270px;
  }

  .addressbanner {
      display: none;
  }

  .header-bar {
      font-size: 14px;
      padding-left: 15px;
  }

  .header-bar .header-bar-more {
      display: none;
  }

  .see-more {
    display: block;
    padding: 15px;
    text-align: center;
    color: #3366FF;
    border: 1px solid rgba(0,0,0,0.0625);
    cursor: pointer;
    }

  .highlight-product-frame {
      height: auto;
  }

  .highlight-products {
      width: 25%;
      height: 320px;
  }

  .product-rate {
      font-size: 13px;
  }

  .product-rate .product-rate-evaluation {
      font-size: 11px;
  }

  .search-data {
    top: 13%;
    left: 5%;
    width: 90%; 
  }

  .search-item-info span {
    font-weight: 500;
  }

}

@media only screen and (max-width: 768px) {
    .highlight-products {
        width: 33.44%;
        height: 370px;
    }
}

@media only screen and (max-width: 700px) {
    .homebanner {
        width: 100%;
        height: 215px;
    }
  
    .each-slide > div {
        height: 215px;
    }
}

@media only screen and (max-width: 480px) {

    .highlight-products {
        width: 50%;
        height: 360px;
    }

    .homebanner {
        width: 100%;
        height: 165px;
    }
  
    .each-slide > div {
        height: 165px;
    }

    #logo {
        font-size: 14px;
        padding: 0 15px;
    }
  
    #logo span {
        font-size: 20px;
    }

}

@media only screen and (max-width: 425px) {

    .highlight-products {
        width: 50%;
        height: 330px;
    }

    .homebanner {
        width: 100%;
        height: 140px;
    }
  
    .each-slide > div {
        height: 140px;
    }
}

@media only screen and (max-width: 375px) {

    .highlight-products {
        width: 50%;
        height: 300px;
    }

    .homebanner {
        width: 100%;
        height: 125px;
    }
  
    .each-slide > div {
        height: 125px;
    }
}

@media only screen and (max-width: 360px) {
    #logo {
        font-size: 13px;
    }
}

@media only screen and (max-width: 345px) {
    #logo {
        font-size: 11px;
    }

    #logo span {
        font-size: 17px;
    }
}